type hal_fod_lenovo_zippo, coredomain, domain;
hal_server_domain(hal_fod_lenovo_zippo, hal_lineage_fod)

type hal_fod_lenovo_zippo_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fod_lenovo_zippo)
