#common config for all projects.

on post-fs
    # Set dm-verity property for system partition
    verity_update_state

on post-fs-data
    mkdir /data/vendor/sensors 0777 system system

# add charger_monitor
service vendor.hvdcp_opti /vendor/bin/hvdcp_opti
    class main
    user root
    group system wakelock

on charger
    start vendor.hvdcp_opti

# open hvdcp, vin and pps logs
on boot
    setprop persist.vendor.cp.log_level 1
    setprop persist.vendor.hvdcp.log_level 1
    setprop persist.vendor.pps.log_level 1
    setprop persist.vendor.vin.log_level 1
    setprop persist.vendor.hvdcp.log_level 1
    setprop persist.vendor.pps.log_level 1

# for charge
    setprop persist.vendor.chg.max_volt_mv 9000

#modify for enable diag
on property:sys.diag.enable=1
    setprop sys.usb.config ${ro.usb.firstboot.config}

on property:ro.boot.adbon=true
    setprop persist.sys.usb.config mtp,adb

on property:sys.charging_bl=enable
	write /sys/class/backlight/panel0-backlight/brightness 255

on property:sys.charging_bl=disable
	write /sys/class/backlight/panel0-backlight/brightness 0
