on init
    # Set boottime stune value
    write /dev/stune/schedtune.prefer_idle 1
    write /dev/stune/schedtune.boost 100

    # set default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

on post-fs
    mount none /system/bin/hw/android.hardware.power@1.2-service /vendor/bin/hw/android.hardware.power@1.2-service bind

on property:sys.boot_completed=1
    write /dev/stune/schedtune.boost 0
